.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: linear-gradient(270deg, #caecd7 0%, #e2bbd4 100%);
}


.AppMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100vw;
}

.headerSection {
  margin-top: 2vh;
}

.headerText {
  font-size: 2vw;
}

.Banner {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 17.5vh;
  width: 85vw;
}

.bannerImage {
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  border-radius: 5%;
}

.downButtonSection {
  margin-top: 10%;
}

.ui.button.downButton {
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,0);
}

.ui.button.downButton:hover {
  background-color: rgba(255,255,255,0);
}

.ui.button.downButton:focus {
  background-color: rgba(255,255,255,0);
}

.uploadSection {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.uploadContainer {
  padding: 1%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: white;
}

.uploadContent {
  height: 37.5vmin;
  width: 97.5vmin;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border: 0.275vmin dotted #848484;
  padding: 1vmin;
}

.imageUploadedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uploadedImage {
  max-width: 40vw;
  max-height: 40vw;
  object-fit: contain;
}

.imageDisplayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  jusify-content: center;
}

.imageDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
}

.viewNewImage {
  max-width: 40vw;
  max-height: 40vw;
  object-fit: contain;
}